@font-face {
    font-family: 'Tetris';
    src: local('Tetris'),url('/Tetris.ttf') format('truetype');
}

body {
    padding: 0px;
    margin: 0px;
}

.app {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
}

h1 {
    font-family: 'Tetris';
    text-align: center;
    grid-area: title;
    color: rgb(208, 223, 92);
}

h2 {
    font-family: 'Tetris';
    text-align: center;
    color: white;
}

.board-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.board {
    border: 2px solid black;
    user-select: none;
}

.controls {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;

}
.cell {
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid black;
}

.row {
    display: flex;
}

.new-game-button {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid chocolate
}

.score {
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
    color: black;
    padding: 10px 30px;
    width: fit-content;
}


